* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  max-width: 1000px;
  min-width: 280px;
  margin: 0 auto;
}
main {
  background: linear-gradient(180deg, #fff 0%, #f6f7fb 100%);
}

/* Header */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  width: 50px;
  border-radius: 10px;
}

/* Monkey Container*/
.post-container {
  padding: 0 0.5em;
}
.monkey-container {
  position: relative;
}
.img-container {
  width: 100%;
  height: auto;
}
.monkey-img {
  /* max-width: 100%; */
  /* max-width: 700px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  aspect-ratio: 190/253;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.8);
}
.monkey-info {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.1em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 80%;
}
.monkey-name,
.monkey-bio {
  margin: 0;
}
.monkey-name {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.monkey-bio {
  font-weight: 400;
  color: #b7b7b7;
  line-height: 36px;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Badges */
.nope-badge,
.like-badge {
  display: none;
  width: 40%;
  position: absolute;
  left: 20px;
  top: 120px;
  transform: rotate(-35deg);
  z-index: 1;
  width: 150px;
}
/* Action Buttons */
.action-buttons-container {
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}
.btn-container {
  cursor: pointer;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 5px 5px #e9e9ea;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
  text-align: center;
  fill: #fff;
  filter: none;
}
.like,
.reject {
  width: 20px;
}
/* End Page */

.liked-avatar-img {
  display: block;
  cursor: pointer;
  /* margin-bottom: 1em; */
  /* width: 100px; */
  height: 150px;
  /* width: 100%; */
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 190/253;
}

.liked-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.liked-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.end-heading,
.end-text {
  text-align: center;
  padding: 0 2em;
  font-weight: bold;
}
.match-heading {
  font-weight: bold;
  font-size: 1.3rem;
  color: red;
}
.non-match-heading {
  color: black;
}
.red {
  color: darkred;
}
.reset {
  cursor: pointer;
  display: block;
  background-color: red;
  color: white;
  margin: 2em auto;
  padding: 0.5em 2em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  margin-bottom: 2em;
}
.end-image {
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

.matching-image {
  max-width: 100%;
  height: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  aspect-ratio: 190/253;
}
.match-monkey-name {
  font-size: 2rem;
  text-align: center;
}

/* Hover Effects */

.btn-reject:hover,
.btn-reject-focus {
  background-color: #ffe7ef;
  filter: drop-shadow(0px 10px 20px #edd9df);
  fill: #ffe7ef;
}

.btn-like:hover,
.btn-like-focus {
  background-color: #dbfff4;
  filter: drop-shadow(0px 10px 20px #ccf1e6);
  fill: #dbfff4;
}
.reset:hover,
.reset.focus {
  background-color: darkred;
  transform: scale(1.1);
}
.liked-avatar-img:hover,
.liked-avatar-img:focus {
  transform: scale(1.3);
}
