* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
main {
  background: linear-gradient(180deg, #fff 0%, #f6f7fb 100%);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin: 24px 18px;
}

/* Dog Post Section */

.dog-img {
  display: block;
  margin: 0;
  width: 100%;
  border-radius: 15px;
}

.post-container {
  padding: 1em;
  position: relative;
}

.dog-info {
  position: absolute;
  bottom: 2em;
  left: 2em;
  margin: 0;
  width: 60%;
}
.dog-name,
.dog-bio {
  margin: 0;
  width: 100%;
}

.dog-name {
  color: #f8f8f8;
  line-height: 36px;
  font-size: 3rem;
  margin-bottom: 1em;
}
.dog-bio {
  color: #b7b7b7;
  font-weight: 400;
  line-height: 32px;
  font-size: 2rem;
  margin-bottom: 1em;
}

.nope-badge,
.like-badge {
  display: none;
  width: 40%;
  position: absolute;
  left: 30px;
  top: 150px;
  transform: rotate(-35deg);
  z-index: 1;
}

/* Swipe buttons */
.action-buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.btn-container {
  cursor: pointer;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 5px 5px #e9e9ea;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
}
.btn-container:hover,
.btn-container:focus {
  background-color: #ffe7ef;
}

.like:hover,
.like:focus {
  background-color: #dbfff4;
}

.like,
.reject {
  vertical-align: middle;
  width: 30px;
}

.liked-avatar-img {
  /* display: block;
  border: 2px solid blue;
  margin-bottom: 1em;
  width: 150px; */
  height: 200px;
  /* width: 100%; */
  /* object-fit: cover; */
  /* border-radius: 50%; */
  border-radius: 10px;
}

.liked-img-container {
  /* display: flex; */

  /* flex-direction: row; */
  /* flex-wrap: wrap;
  justify-content: center; */
  gap: 2em;
}
.liked-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.end-heading,
.end-text {
  text-align: center;
}
.match-heading {
  font-weight: bold;
  font-size: 2rem;
  color: red;
}
.non-match-heading {
  color: black;
}
.reset {
  cursor: pointer;
  display: block;
  background-color: red;
  color: white;
  text-align: center;
  margin: 2em auto;
  padding: 0.5em 2em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
