* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  width: 50px;
  border-radius: 10px;
}

main {
  background: linear-gradient(180deg, #fff 0%, #f6f7fb 100%);
}

.post-container {
  padding: 0 0.5em;
}
.monkey-container {
  position: relative;
}

.img-container {
  width: 100%;
  height: auto;
}
.monkey-img {
  /* max-width: 100%; */
  /* max-width: 700px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  aspect-ratio: 190/253;
}

.monkey-info {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.1em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 80%;
}

.monkey-name,
.monkey-bio {
  /* color: #f8f8f8; */
  margin: 0;
}

.monkey-name {
  /* font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.25em; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.monkey-bio {
  /* color: white; */
  font-weight: 400;
  color: #b7b7b7;
  line-height: 32px;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /*color: whitesmoke; */
}

.nope-badge,
.like-badge {
  display: none;
  width: 40%;
  position: absolute;
  left: 20px;
  top: 120px;
  transform: rotate(-35deg);
  z-index: 1;
  width: 150px;
}

.action-buttons-container {
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  gap: 2em;
}
.btn-container {
  cursor: pointer;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 5px 5px #e9e9ea;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
  text-align: center;
}
.btn-container:hover,
.btn-container:focus {
  background-color: #ffe7ef;
}

.like:hover,
.like:focus {
  background-color: #dbfff4;
}
.like,
.reject {
  /* vertical-align: middle; */
  width: 30px;
}

.liked-avatar-img {
  display: block;
  margin-bottom: 1em;
  width: 150px;
  height: 200px;
  /* width: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

.liked-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.liked-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.end-heading,
.end-text {
  text-align: center;
  padding: 0 2em;
  font-weight: bold;
}
.match-heading {
  font-weight: bold;
  font-size: 1.3rem;
  color: red;
}
.non-match-heading {
  color: black;
}
.red {
  color: darkred;
}
.reset {
  cursor: pointer;
  display: block;
  background-color: red;
  color: white;
  margin: 2em auto;
  padding: 0.5em 2em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
.end-image {
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

@media (min-width: 500px) {
  .post-container {
    padding: 0 1em;
  }
  .logo {
    width: 70px;
  }
  .monkey-info {
    bottom: 1em;
    margin-right: 1em;
    padding: 0.5em;
  }
  .monkey-name {
    font-size: 2rem;
  }
  .monkey-bio {
    font-size: 1.5rem;
  }
  .nope-badge,
.like-badge {
  width: 200px;
}
  .nope-badge,
  .like-badge {
    left: 30px;
    top: 150px;
  }
  .action-buttons-container {
    gap: 2em;
  }
  .btn-container {
    padding: 2.5em;
  }

  .end-heading,
  .end-text {
    text-align: center;
    padding: 0 2em;
  }
  .match-heading {
    font-weight: bold;
    font-size: 2rem;
    color: red;
  }
  .non-match-heading {
    color: black;
  }
  .end-text {
    font-weight: bold;
  }
  .red {
    color: darkred;
  }
  .reset {
    cursor: pointer;
    display: block;
    background-color: red;
    color: white;
    text-align: center;
    margin: 2em auto;
    padding: 0.5em 2em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
  }
}

@media (min-width: 700px) {
  .post-container {
    padding: 0 2em;
  }
  header {
    padding: 2em;
  }
  .logo {
    width: 100px;
  }
  .monkey-info {
    bottom: 2em;
    margin-right: 2em;
    padding: 2em;
  }
  .monkey-name {
    font-size: 4rem;
  }
  .monkey-bio {
    font-size: 2rem;
  }
  .nope-badge,
.like-badge {
  width: 300px;
}
  .nope-badge,
  .like-badge {
    left: 30px;
    top: 150px;
  }
  .nope-badge,
  .like-badge {
    left: 50px;
    top: 220px;
  }
  .action-buttons-container {
    gap: 6em;
  }
  .match-heading {
    font-size: 3rem;
  }
  .end-text {
    font-size: 2rem;
  }
  .reset {
    margin: 1em auto;
    padding: 0.5em 2em;
    font-size: 2rem;
  }
}
@media (min-width: 1000px) {
  .nope-badge,
  .like-badge {
    left: 90px;
    top: 240px;
    left: 30%;
    right:30%;
    margin: auto;
    top:250;
    transform: rotate(0)
  }
  }
  .liked-avatar-img {
    margin-bottom: 2em;
    width: 200px;
    height: 250px;
  }
  .liked-container {
    gap: 2em;
  }
}
@media (min-width: 1200px) {
  .nope-badge,
  .like-badge {
    left: 30%;
    right:30%;
    margin: auto;
    top:250;
    transform: rotate(0)
  }
  .liked-avatar-img {
    margin-bottom: 2em;
    width: 300px;
    height: 350px;
  }
} */
